

    <nav class="navbar navbar-expand-lg navbar-dark  static-top" style="background:black">
  <div class="container">
        <nav class="navbar navbar-light ">
                <span class="navbar-brand mb-0 h1">Issue Tracking Tool</span>
              </nav>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active ml-5">
          <a class="nav-link" href="#"><b>Login</b>
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" href="#"><b>Sign up</b></a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>

        <div class="align-self-center">
         
                <div class="card text-center">
                        <div class="card-header" style="background:lavender">
                               <b> Now , tracking issues is easy task !!!</b>
                        </div>
                        <div class="card-body align-self-center w-50" >
                          <p class="card-text">With advanced tracking system , issue will be handled in very good manner with supporting screenshots upload ,watchlist ,comments and notification</p>
                          <a href="#" class="btn btn-tomato">Want to explore more</a>
                        </div>
                       
                      </div>
       
        </div>
        <div style="display:flex;align-items: center;justify-content: center;">
            
                      <form class="mt-5" style="background;padding:10px;" >
                                <div class="form-group">
                                  <label for="exampleInputEmail1">Email address</label>
                                  <input type="email" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                  <label for="exampleInputPassword1">Password</label>
                                  <input type="password" class="form-control form-control-sm" id="exampleInputPassword1" placeholder="Password">
                                </div>
                                <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                       
               
           
            </div>

